<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.gms.location.sample.locationupdates">

    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <receiver android:name=".LocationReceiver">
        <intent-filter>
            <action android:name="android.location.KEY_LOCATION_CHANGED" />
        </intent-filter>
    </receiver>
</manifest>
